{% render 'partials/head.liquid', district: district %}

{% render 'partials/menu.liquid' %}

<div class="back-button"></div>
<a href="/{{ district }}">
  <button class="back-link">Terug</button>
</a>

    {% if story.cover.id  %}
        <img src="https://fdnd-agency.directus.app/assets/{{ story.cover.id }}" alt="" width="209" height="139">
        {% else %}
            <img src="/no-image-available-icon.jpg" width="209" height="139">
    {% endif %}

  <form action="/{{ district }}/{{ story.slug }}/comment" class="comment-form" method="POST">
    <h2>Laat een bericht achter</h2>
    <label for="name">
      Naam:
      <input type="text" id="name" name="name" required>
    </label>
    <label for="comment">
      Bericht:
      <textarea id="comment" name="comment" rows="3" required></textarea>
    </label>
    <input type="hidden" name="story" value="{{ story.id }}">
    <button type="submit">Verstuur</button>
    <h2>Recente reacties</h2>
    <ul>
      {% if comments.size > 0 %}
        {% for comment in comments limit:3 %}
          <article class="single-comment">
            <span>{{ comment.name }}</span>
            <p>{{ comment.comment }}</p>
          </article>
        {% endfor %}
      {% else %}
        <div class="empty-state">
          <span>Nog geen reacties</span>
        </div>
      {% endif %}
    </ul>
  </form>

{% render 'partials/foot.liquid' %}